[banks]
NL94INGB = 0, 0, 6, 8 1, 1, 3, 4, 5 bij af, EUR
NL91RABO = 7, 2, 4, 10 11 12 13 14 15 16 17, 6, 5, -1, 3 C D, EUR

[currencies]
Afghan afghani = AFN
Albanian lek = ALL
Algerian dinar = DZD
Angolan kwanza = AOA
Argentine peso = ARS
Armenian dram = AMD
Aruban florin = AWG
Australian dollar = AUD
Azerbaijani manat = AZN
Bahamian dollar = BSD
Bahraini dinar = BHD
Bangladeshi taka = BDT
Barbadian dollar = BBD
Belarusian ruble = BYR
Belize dollar = BZD
Bermudian dollar = BMD
Bhutanese ngultrum = BTN
Bolivian boliviano = BOB
Bosnia and Herzegovina convertible mark = BAM
Botswana pula = BWP
Brazilian real = BRL
British pound = GBP
Brunei dollar = BND
Bulgarian lev = BGN
Burmese kyat = MMK
Burundian franc = BIF
Cambodian riel = KHR
Canadian dollar = CAD
Cape Verdean escudo = CVE
Cayman Islands dollar = KYD
Central African CFA franc = XAF
CFP franc = XPF
Chilean peso = CLP
Chinese yuan = CNY
Colombian peso = COP
Comorian franc = KMF
Congolese franc = CDF
Costa Rican colón = CRC
Croatian kuna = HRK
Cuban convertible peso = CUC
Cuban peso = CUP
Czech koruna = CZK
Danish krone = DKK
Djiboutian franc = DJF
Dominican peso = DOP
East Caribbean dollar = XCD
Egyptian pound = EGP
Eritrean nakfa = ERN
Ethiopian birr = ETB
Euro = EUR
Falkland Islands pound = FKP
Fijian dollar = FJD
Gambian dalasi = GMD
Georgian lari = GEL
Ghana cedi = GHS
Gibraltar pound = GIP
Guatemalan quetzal = GTQ
Guernsey pound = GGP
Guinean franc = GNF
Guyanese dollar = GYD
Haitian gourde = HTG
Honduran lempira = HNL
Hong Kong dollar = HKD
Hungarian forint = HUF
Icelandic króna = ISK
Indian rupee = INR
Indonesian rupiah = IDR
Iranian rial = IRR
Iraqi dinar = IQD
Israeli new shekel = ILS
Jamaican dollar = JMD
Japanese yen = JPY
Jersey pound = JEP
Jordanian dinar = JOD
Kazakhstani tenge = KZT
Kenyan shilling = KES
Kuwaiti dinar = KWD
Kyrgyzstani som = KGS
Lao kip = LAK
Lebanese pound = LBP
Lesotho loti = LSL
Liberian dollar = LRD
Libyan dinar = LYD
Lithuanian litas = LTL
Macanese pataca = MOP
Macedonian denar = MKD
Malagasy ariary = MGA
Malawian kwacha = MWK
Malaysian ringgit = MYR
Maldivian rufiyaa = MVR
Manx pound = IMP
Mauritanian ouguiya = MRO
Mauritian rupee = MUR
Mexican peso = MXN
Moldovan leu = MDL
Mongolian tögrög = M
Moroccan dirham = MAD
Mozambican metical = MZN
Namibian dollar = NAD
Nepalese rupee = NPR
Netherlands Antillean guilder = ANG
New Taiwan dollar = TWD
New Zealand dollar = NZD
Nicaraguan córdoba = NI
Nigerian naira = NGN
North Korean won = KPW
Norwegian krone = NOK
Omani rial = OMR
Pakistani rupee = PKR
Panamanian balboa = PAB
Papua New Guinean kina = PGK
Paraguayan guaraní = PYG
Peruvian nuevo sol = PEN
Philippine peso = PHP
Polish złoty = PLN
Qatari riyal = QAR
Romanian leu = RON
Russian ruble = RUB
Rwandan franc = RWF
Saint Helena pound = SHP
Samoan tālā = WST
São Tomé and Príncipe dobra = STD
Saudi riyal = SAR
Serbian dinar = RSD
Seychellois rupee = SCR
Sierra Leonean leone = SLL
Singapore dollar = SGD
Solomon Islands dollar = SBD
Somali shilling = SOS
South African rand = ZAR
South Korean won = KRW
South Sudanese pound = SSP
Sri Lankan rupee = LKR
Sudanese pound = SDG
Surinamese dollar = SRD
Swazi lilangeni = SZL
Swedish krona = SEK
Swiss franc = CHF
Syrian pound = SYP
Tajikistani somoni = TJS
Tanzanian shilling = TZS
Thai baht = THB
Tongan paʻanga = TOP
Transnistrian ruble = PRB
Trinidad and Tobago dollar = TTD
Tunisian dinar = TND
Turkish lira = TRY
Turkmenistan manat = TMT
Ugandan shilling = UGX
Ukrainian hryvnia = UAH
United Arab Emirates dirham = AED
United States dollar = USD
Uruguayan peso = UYU
Uzbekistani som = UZS
Vanuatu vatu = VUV
Venezuelan bolívar = VE
Vietnamese đồng = VND
West African CFA franc = XOF
Yemeni rial = YER
Zambian kwacha = ZMW
